numpy
torch
tqdm
sklearn
nltk
umap-learn[plot]
datashader
matplotlib
plotly
datasets
transformers
pytorch_lightning
wandb
requests
nlpaug
-e git+https://github.com/facebookresearch/SentEval#egg=senteval
